<section id="content">
  <div class="container">
    <form class="form-horizontal" [formGroup]="TattoForm" (ngSubmit)="createTatto(TattoForm.value,TattoForm.valid)">
      <div class="control-group">
        <label class="control-label" for="inputText">Artist Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="artist_name" placeholder="artist_name">
          <small *ngIf="submitted && formErrors.artist_name" style="color:red; ">{{ formErrors.artist_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Screen Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="screen_name" placeholder="screen_name">

          <small *ngIf="formErrors.screen_name" style="color:red; ">{{ formErrors.screen_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Body Placement</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="body_placement" placeholder="body_placement">

          <small *ngIf="formErrors.body_placement" style="color:red; ">{{ formErrors.body_placement }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Category</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="category" placeholder="category">

          <small *ngIf="formErrors.category" style="color:red; ">{{ formErrors.category }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Color</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="color" placeholder="color">

          <small *ngIf="formErrors.color" style="color:red; ">{{ formErrors.color }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Description</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="description" placeholder="description">

          <small *ngIf="formErrors.description" style="color:red; ">{{ formErrors.description }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Image Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="image_name" placeholder="image_name">

          <small *ngIf="formErrors.image_name" style="color:red; ">{{ formErrors.image_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Avatar</label>
        <div class="controls">
          <!-- <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput> -->
          <input type="file" id="avatar" #avatar class="form-control" (change)="onFileChange($event)">
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
          <!-- <small *ngIf="formErrors.avatar" style="color:red; ">{{ formErrors.avatar }}</small> -->
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" [disabled]="!TattoForm.valid" class="btn">Create</button>
        </div>
      </div>
    </form>
  </div>
</section>