<section id="content">
  <div class="container">
    <form class="form-horizontal" [formGroup]="TattoForm" (ngSubmit)="createTatto(TattoForm.value,TattoForm.valid)">
      <div class="control-group">
        <label class="control-label" for="inputText">Artist Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="artist_name" placeholder="artist_name">
          <small *ngIf="formErrors.artist_name" class="text-danger">{{ formErrors.artist_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Screen Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="screen_name" placeholder="screen_name">

          <small *ngIf="formErrors.screen_name" class="text-danger">{{ formErrors.screen_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Body Placement</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="body_placement" placeholder="body_placement">

          <small *ngIf="formErrors.body_placement" class="text-danger">{{ formErrors.body_placement }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Category</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="category" placeholder="category">

          <small *ngIf="formErrors.category" class="text-danger">{{ formErrors.category }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Color</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="color" placeholder="color">

          <small *ngIf="formErrors.color" class="text-danger">{{ formErrors.color }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Description</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="description" placeholder="description">

          <small *ngIf="formErrors.description" class="text-danger">{{ formErrors.description }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Image Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="image_name" placeholder="image_name">

          <small *ngIf="formErrors.image_name" class="text-danger">{{ formErrors.image_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Avatar</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="avatar" placeholder="avatar">

          <small *ngIf="formErrors.avatar" class="text-danger">{{ formErrors.avatar }}</small>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Create</button>
        </div>
      </div>
    </form>
  </div>
</section>