<section id="content">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h4 class="heading">All <strong>Tattos</strong></h4>
        <div class="row">
          <section id="projects">
            <ul id="thumbs" class="portfolio" *ngFor="let url of url">
              <!-- Item Project and Filter Name -->
              <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                <span class="overlay-img-thumb">
                  <button (click)="getId(url[0].id)"  ><a href="#updateform" data-toggle="modal">Edit</a></button>
              <button (click)="delete(url[0].id)">Delete</button>
              </span>
                <a class="hover-wrap fancybox" data-fancybox-group="gallery" href="./assets/img/works/full/image-01-full.jpg">
                <span class="overlay-img"></span>
              
                </a>
                <!-- Thumb Image and Description -->
                <img src={{url[0].url}}>
              </li>
              <!-- End Item Project -->

            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- End Portfolio Projects -->
    <!-- divider -->
    <div class="row">
      <div class="span12">
        <div class="solidline">
        </div>
      </div>
    </div>
  </div>
</section>



<div style="display: none" id="updateform" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel"
  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="mySigninModalLabel">Update your <strong>Tatto</strong></h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" [formGroup]="UpdateForm" (ngSubmit)="updateTato(UpdateForm.value,UpdateForm.valid)">
      <div class="control-group">
        <label class="control-label" for="inputText">Artist Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="artist_name" placeholder="artist_name">
          <small *ngIf="formErrors.artist_name" class="text-danger">{{ formErrors.artist_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Screen Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="screen_name" placeholder="screen_name">

          <small *ngIf="formErrors.screen_name" class="text-danger">{{ formErrors.screen_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Body Placement</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="body_placement" placeholder="body_placement">

          <small *ngIf="formErrors.body_placement" class="text-danger">{{ formErrors.body_placement }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Category</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="category" placeholder="category">

          <small *ngIf="formErrors.category" class="text-danger">{{ formErrors.category }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Color</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="color" placeholder="color">

          <small *ngIf="formErrors.color" class="text-danger">{{ formErrors.color }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Description</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="description" placeholder="description">

          <small *ngIf="formErrors.description" class="text-danger">{{ formErrors.description }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Image Name</label>
        <div class="controls">
          <input type="text" class="form-control" formControlName="image_name" placeholder="image_name">

          <small *ngIf="formErrors.image_name" style="color:red; ">{{ formErrors.image_name }}</small>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputSigninPassword">Avatar</label>
        <div class="controls">
          <input type="file" id="avatar" #avatar class="form-control" (change)="onFileChange($event)">
          <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" [disabled]="!UpdateForm.valid" class="btn">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>